
.imgcont{
    width: 200px;
    height: 200px;
object-fit: contain;}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0px 0px 15px -5px ;
    width: 200px;
}
