.Login {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    width:50%;
    background-color: #646262;
}
body{
    background-color: #ffffff;
}
